body{
font-family: helvetica, sans-serif;
background-color: #F5F5F5;
color:#474747;
}

header{
  width: 100%;
  position: absolute;
  height: 120px;
  top: 0;
  background-color: #91A3B0;
}

h1{
  margin: 20px 40px;
  font-size: 60px;
  color: #f9f9f9;
}

h1 i{
color: #FFB6C1;
font-size: 50px;
}

h3{
  margin-bottom: 30px;
}

#first-con{
  margin: auto;
  margin-top: 20px;
  margin-left: 40px;
  position: relative;
  top: 150px;
}

.container input{
  margin: 10px 0;
  display: block;
}
.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 100px;
}

.submit{
position: relative;
top: 5px;
left: 270px;
}

#logout{
  margin-left: 2px;
  margin-top: 10px;
}

fieldset{
  border: 2px solid #91A3B0;
  background-color: #fcfcfc;
  width: 360px;
  padding: 20px;
}

legend{
color: #FFB6C1;
font-weight: bold;
font-size: 25px;
}

form{
  margin: auto;
}

ul{
  list-style: none;
}

ul li i{
  color: #FFB6C1;
  margin-right: 15px;
}

img {
float: left;
margin-right: 10px;
width: 85px;
height: auto;
border: 2px inset #91A3B0;
}

#left{
  float: left;
  margin-top: 20px;
  margin-left: 40px;
  position: relative;
  top: 150px;
}


#relationship_info{
  float: right;

  position: absolute;
  top: 0;
  left: 500px;
}
