<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<header>
<h1 id="pro">Twitter <i class="fa fa-heart"></i></h1>
</header>
  <%= erb :tweet_page %>

  <%= erb :relationship %>
