<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<h1 id="pro">Twitter <i class="fa fa-heart"></i></h1>

  <%= erb :tweet_page %>

  <form action="/logout" method="post" id="logout">
    <input type="submit" value="Logout">
  </form>
