<h2><%=@user.first_name%>'s Profile Page!</h2>


<form action="/following/<%=@user.id%>" method='post'>
  <input type='submit' value='Follow!'>
</form>
<h3>People following Jeuel</h3>

<h3>People who Jeuel Follow</h3>

