<div class="container" id="relationship_info">
  <fieldset>
    <legend>Following</legend>
    <ul>
      <% @target_user.followers.each do |follower| %>
      <li>
        <a href="/profiles/<%=follower.id%>"><i class="fa fa-heart-o fa-lg"></i><%= follower.first_name %><a>
      </li>
      <% end %>
    </ul>
  </fieldset>

    <fieldset>
    <legend>Followers</legend>
    <ul>
      <% Relationship.where(follower_id: @target_user.id).each do |following| %>
      <li><i class="fa fa-heart-o fa-lg"></i>
        <a href="/profiles/<%=following.id%>"><%= User.find_by_id(following.user_id).first_name %></a>
      </li>
      <% end %>
    </ul>
  </fieldset>
</div>
