<div class="container">
  <h2>Tweet here</h2>
  <form action="/tweets" method="post">
    <textarea name="content" cols="30" rows="10" placeholder="Tweet 140 characters or less">
    </textarea>
    <input type="submit" value="Submit">
  </form>
<h3>Previous tweets...</h3>
  <% Tweet.all.each do |tweet| %>
  <ul>
    <li><%= tweet.content %></li>
  </ul>
  <% end %>
</div>
